{% extends 'app/../base.html' %}
{% load static %}

{% block head_text %}
    <div class="alert alert-primary" role="alert">
        <h1 align="center">Item's page: {{ item.title.capitalize }}</h1>
    </div>
{% endblock %}

{% block categories %}
{% endblock %}


{% block body %}
    <div class="item-block">
        <img class="item_img" src="{{ item.image.url }}">
        Item: {{ item.title }}<br>
        Category: {{ item.category }}<br>
        Price: {{ item.price }}$ <br>
        Rating: {{ item.mark }} <br>
        Description: {{ item.description|safe }}
        <form method="post" action="{% url 'add_item' item.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" id="{{ item.id }}">Add to cart</button>
        </form>
    </div>
    <hr>
    {% if comments %}
        <div class="container">
        <h1 class="comments-title">Comments: {{ comments.count }}</h1>
        {% for comment in comments %}
            <div class="be-comment">
                <div class="be-img-comment">
                    {% if comment.user.profile.profile_pic %}
                        <img src="{{ comment.user.profile.profile_pic.url }}" class="be-ava-comment">
                    {% else %}
                        <img src="{% static 'app/img/ava.png' %}" class="be-ava-comment">
                    {% endif %}
                </div>
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        {% if comment.user == user %}
                            <a href="{% url 'user_profile' user.id %}"
                               style="text-decoration: underline">{{ comment.user.username }}(you)</a>
                        {% else %}
                            <a>{{ comment.user.username }}</a>
                        {% endif %}
                    </span>
                    <span class="be-comment-time">
                        <i style="color: black  ;" class="fa fa-clock-o">{{ comment.created }}</i>
                    </span>
                    {% if changeable_comment == comment %}
                        <form method="post">
                            {% csrf_token %}
                            <h3 align="center">Edit your comment!</h3>
                            {{ form.text }}<br>
                            <span style="color: red">New mark: {{ form.mark }}</span><br>
                            <button class="btn btn-success">Submit</button>
                        </form>
                    {% else %}
                        <p class="be-comment-text">{{ comment.text }}</p>
                        <span style="color: red">Mark: {{ comment.mark }}</span>
                    {% endif %}
                    {% if  user.is_superuser %}
                        <form method="post">
                            {% csrf_token %}
                            <a style="color: #0000FF" href="{% url 'delete_comment' item.slug comment.id %}">Delete</a>
                        </form>
                    {% endif %}
                    {% if not user.is_superuser %}
                        {% if comment.user == user %}
                            <form method="post">
                                {% csrf_token %}
                                <a style="color: #0000FF" href="{% url 'delete_comment' item.slug comment.id %}">Delete</a>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}


    {% endif %}

{% endblock %}
